.logo {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  width: 10em;
  color: black;
  transform: scale(0.7);
  position: relative;
}
.logo__icon {
  height: 4vw;
  margin: 1em;
}
.logo__name {
  font-size: var(--font-regular);
  color: white;
}
@media (max-width: 768px) {
  .logo__icon {
    height: 60%;
  }
}
