.skills-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-container h1 {
  font-size: 3rem;
  line-height: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  grid-gap: 50px;
}
.skills-grid .skill {
  display: flex;
  flex-direction: column; /*  */
  align-items: center;
  text-align: center;
}
.skills-grid img {
  height: 7rem;
  width: 7rem;
  margin: 2rem;
}
.skills-gridp {
  font-size: 14px;
}
