.contact__icons {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  height: 7rem;
  margin: auto;
}

.contact__icons__icon {
}

.contact__icons__icon img {
  width: 3rem;
}

@media screen and (max-width: 768px) {
  .contact__icons__icon img {
    width: 2.5em;
  }
}
