:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #915754;
  --color-black: #0c0c0c;
  --color-dark-gray: #272727;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  /* font size */
  --font-large: 35px;
  --font-medium: 30px;
  --font-regular: 25px;
  --font-small: 23px;
  --font-micro: 20px;
  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;
}
h1 {
  color: white;
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
}

h2 {
  color: white;
  font-weight: var(--weight-regular);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('./images/header-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-color: black;
  color: var(--color-white);
}
