#nav {
  width: 100%;
  height: 10%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  transition: all 300ms ease-in-out;
  background-color: #000000;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5),
    0 6px 20px 0 rgba(65, 37, 37, 0.19);
}
.logo {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--font-medium);

  color: black;
  transform: scale(0.7);
  position: relative;
}
.logo__icon {
  width: 5rem;
  height: 5rem;
}
.logo__name {
  font-size: var(--font-regular);
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 50%;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
.menu__item {
  cursor: pointer;
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  color: white;
}
.menu__item:hover {
  transform: scale(1.3);
  transition: all 400ms linear;
}
.menu__item.active {
  border: 1px solid var(--color-black);
  border-radius: 4px;
}
.toggle {
  display: none;
}
.menu__item.active.onscroll {
  border-color: white;
  font-weight: var(--weight-semi-bold);
  transform: scale(1.2);
}

@media (max-width: 768px) {
  #nav {
    width: 100%;
    height: 7%;
    justify-content: space-between;
  }
  .menu {
    display: none;
  }
  .toggle {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
  }
  .toggle img {
    background-color: black;
    width: 2rem;
    height: 2rem;
  }
  .logo img {
    width: 4rem;
    height: 4rem;
  }
}
