.card {
  width: 360px;
  height: 250px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 20px 20px 0 rgba(82, 81, 81, 0.5),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  opacity: 0.9;
}

.card:hover {
  opacity: 1;
}
.card .content {
  width: 45%;
  height: 45%;
  font-family: 'Open Sans';
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: all 500ms ease-in-out;
  transform: translate(0, 20px);
  cursor: pointer;
}
.card a {
  text-decoration: none;
}
.card .content h4 {
  color: white;
}

.card .content .btn {
  color: white;
  border: 1px solid white;
  padding: 5px;
  text-decoration: none;
}
.card .content:hover {
  background-color: black;
  opacity: 0.8;
  transform: translate(0, 0px) scale(2);
}
.tech-images {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.tech-images_container {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.tech-images_container img {
  width: 1.5rem;
  height: 1.5rem;
}
