.work__frame {
  width: 80%;
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}

/* #region Card */
.work__frame__card {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 20px 20px 0 rgba(82, 81, 81, 0.5),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  opacity: 0.9;
}
.work__frame__card:hover {
  opacity: 1;
}
.work__frame__card__content {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  text-align: center;
  opacity: 0.8;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  background-color: black;
}
.work__frame__card__content:hover {
  opacity: 0;
  transform: scale(0.3);
}
.work__frame__card a {
  text-decoration: none;
}
.work__frame__card__content h4 {
  color: white;
}

.work__frame__card__content .btn {
  color: white;
  border: 1px solid white;
  padding: 5px;
  text-decoration: none;
}

.tech_imgs {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.tech_imgs__container {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.tech_imgs__container img {
  width: 4rem;
  height: 4rem;
}

/* #endregion Card */
.work__frame__card_cont {
  display: flex;
  opacity: 1;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .work__frame {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .work__frame {
    grid-template-columns: repeat(1, 1fr);
  }
}
