.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-wrapper {
  width: 80%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-wrapper h1 {
  font-size: 3rem;
  line-height: 20px;
}

.grid {
  width: 70%;
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
